<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
        body{
            background-color: bisque;
        }
        table{
            background-color:rgb(220, 242, 248);
        }
    </style>
</head>
<body>
    <table>
    <h2>Registration Form</h2>
    <tr>
        <td> Name : </td> 
        <td><input type="text" name="" id=""></td>
    </tr>
    <tr>
        <td> Email : </td> 
        <td><input type="email" name="" id=""></td>
    </tr>
    <tr>
        <td> Phone : </td> 
        <td><input type="number" name="" id=""></td>
    </tr>
    <tr>
        <td> Password : </td> 
        <td><input type="password" name="" id=""></td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Sign Up">
        </td>
    </tr>
    </table>
</body>
</html>
